.ulContainer {
  display: flex;
  overflow-x: auto;
  padding: 0px;
  width: 95vw;
  margin: 0px;
  user-select: none;
  scrollbar-color: #888 #f1f1f1;
}
.frontend {
  font-family: serif;
}
h1 {
  color: #ff0000;
}
.mainContainer {
  background-color: aquamarine;
  padding: 20px;
  width: 100%;
  overflow-x: hidden;
}
h3,
h4 {
  color: blue;
}
.name {
  margin: 0px;
  font-size: 40px;
  color: blue;
}
.livePara {
  margin: 0px;
}
.linkPara {
  color: black;
  margin: 0px;
  font-size: 16px;
}
.listContainerNode {
  background-color: wheat;
  list-style-type: none;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25vw;
  margin: 10px;
  padding: 15px;
  border: 2px solid;
}
.listContainer {
  background-color: wheat;
  list-style-type: none;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25vw;
  margin: 10px;
  padding: 15px;
  border: 2px solid;
}
.listContainerHtml {
  background-color: wheat;
  list-style-type: none;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25vw;
  margin: 10px;
  padding: 15px;
  border: 2px solid;
}
.listContainerExp {
  background-color: wheat;
  list-style-type: none;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25vw;
  margin: 10px;
  padding: 15px;
  border: 2px solid;
}
.listContainerJs {
  background-color: wheat;
  list-style-type: none;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25vw;
  margin: 10px;
  padding: 15px;
  border: 2px solid;
}
.nameProject {
  text-align: center;
  align-self: center;
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  width: 20vw;
  margin: 3px;
  color: #8b4513;
  font-size: 25px;
}
.listlogo {
  height: 60vh;
  width: 23vw;
  align-items: center;
  align-self: center;
  align-content: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
.listlogoJs {
  height: 60vh;
  width: 23vw;
  align-items: center;
  align-self: center;
  align-content: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.listlogoHtml {
  height: 60vh;
  width: 23vw;
  align-items: center;
  align-self: center;
  align-content: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
.listlogoExp {
  height: 60vh;
  width: 23vw;
  align-items: center;
  align-self: center;
  align-content: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
.listlogoVideo {
  height: 60vh;
  width: 23vw;
  align-items: center;
  align-self: center;
  align-content: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
.reactHeading {
  margin: 0px;
}
@media (max-width: 760px) {
  .nameProject,
  .livePara {
    font-size: 10px;
  }
  .linkPara {
    font-size: 10px;
  }
  .listlogo {
    width: 40vw;
    height: 30vh;
    margin: 0px;
  }
  .listContainer {
    width: 95vw;
    height: 50vh;
  }
  .listContainerNode {
    height: 20vh;
    width: 40vw;
  }
  .listContainerJs,
  .listContainerHtml,
  .listContainerExp {
    height: 40vh;
    width: 30vh;
  }
  .listlogoJs,
  .listlogoHtml,
  .listlogoExp {
    width: 45vw;
    height: 30vh;
  }
}
